:root{
  --White: hsl(0, 0%, 100%);
  --LightGrey: hsl(217, 12%, 63%);
  --MediumGrey: hsl(216, 12%, 54%);
  --MediumBlue: hsla(212, 19%, 23%);
  --DarkBlue: hsl(213, 19%, 18%);
  --VeryDarkBlue: hsl(216, 12%, 8%);
  --Orange: hsl(25, 97%, 53%)
}

body{
  background-color: var(--VeryDarkBlue);
}

.container_rate{
  background-color: var(--DarkBlue);
}

.container_rate h2{
  color:var(--White);
}

.container_rate p{
  color: var(--MediumGrey);
}

.container_rate .button{
  background-color: var(--Orange);
  transition: all 0.5s;
}

.container_rate .button:hover{
  background-color: var(--White);
  color: var(--Orange);
  transition: all 0.5s;
}

.container_rate .button:active{
  background-color: var(--Orange);
  color: var(--White);
  transition: all 0.2s;
}

.container_rate .rate{
  background-color: var(--MediumBlue);
  color: var(--MediumGrey);
  transition: all 0.5s;
}
.container_rate .rate:hover{
  background-color: var(--MediumGrey);
  color: var(--White);
  transition: all 0.5s;
  cursor: pointer;
}

.container_rate .p_rate{
  color: var(--Orange);
}


.container_rate .check{
  background-color: var(--Orange);
  color: var(--White);
  transition: all 0.5s;
  cursor: pointer;
}

.container_rate .star{
  background-color: var(--MediumBlue);
}

