@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

$family-josefin: 'Karla', sans-serif;

$primary: hsl(179, 62%, 43%) !default;
$warning: hsl(71, 73%, 54%) !default;
$success: hsl(179, 62%, 43%,0.8) !default;

$light: hsl(204, 43%, 93%) !default;
$info: hsl(218, 22%, 67%) !default;

@import "bulma/bulma.sass";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: $family-primary;
    background-color:  $light;
}

.container {
    max-width: 300px;
    box-shadow: 2px 12px 20px -5px hsl(218, 22%, 67%,0.4);
    @media (min-width: 1040px){
        max-width: 585px !important;
    }
}

.border-radious {
    border-radius: 7px;
    overflow: hidden;
}

.center-absolute{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.gap {
    gap: 0.5rem;
}

.height-mobile {
    min-height: 100vh;
}


.is-size-custom {
    font-size: 0.9rem;
}

.is-size-7 {
    font-size: 0.80rem !important;
}

.is-size-8 {
    font-size: 0.80rem !important;;
}

.is-flex-direction-column-is-mobile {
    display: flex;
    flex-direction: column;

    @media (min-width: 1040px) {
        align-content: center;
        flex-direction: row;
        flex-wrap: wrap;

        .section {
            width: 50%;
        }

        .py-5 {
            padding-top: 2rem !important;
            padding-bottom: 2rem !important;
        }

        .px-5 {
            padding-left: 2.25rem !important;
            padding-right: 2.25rem !important;
        }

        .is-size-5 {
            font-size: 1.30rem !important;
        }

        .is-size-7 {
            font-size: 0.9rem !important;
        }

        .is-size-custom {
            font-size: 1rem;
        }

        .pt-3 {
            padding-top: 0.5rem !important;
        }

        .rounded-br {
            border-radius: 0px 0px 7px 0px;
        }

        .line-height {
            line-height: 1.5rem;
        }

        .rounded-bl {
            border-radius: 0px 0px 0px 7px;
        }

        .section-2 {

            height: 230px;

            h1 {
                font-size: 1rem !important;
            }
            
            .is-size-3 {
                font-size: 1.75rem !important;
            }

            .pl-4 {
                padding-left: 0.75rem !important;
            }

            .mt-4 {
                margin-top: 0.75rem !important;
            }

            span {
                font-size: 0.9rem !important;
            }
            
            p {
                font-size: 0.9rem !important;
            }

            a {
                font-size: 0.9rem !important;
                margin-top: 1.25rem !important;
            }

            .py-3 {
                padding-top: 0.65rem !important;
                padding-bottom: 0.65rem !important;
            }

            .is-size-8 {
                font-size: 0.75rem !important;
            }

        }

    }
}

.is-size-5 {
    font-size: 1.20rem !important;
}

.line-height {
    line-height: 1.7rem;
}

.list{
    text-decoration: none;
    list-style-type: none;
}

.px-4 {
    padding-left: 1.25rem !important;
    padding-right: 1rem !important;
}

.relative {
    position: relative;
}

.rounded-t{
    border-radius: 7px 7px 0px 0px;
}

.rounded-b{
    border-radius: 0px 0px 7px 7px;
}

.opacity {
    opacity: 0.5;
}

.w-full {
    width: 100%;
}